
.admin_main{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.button_new_container {
    display:flex;
    width:100%;
    height:2vw;
}

.admin_product_gradient {
     border:1px black solid;
     font-weight:bold;
    flex-grow: 1;
    display: flex;
    color:black;
    flex-direction: column;
    flex-basis: auto;
    background-image: linear-gradient(to bottom, white,white, white,yellow);
    align-items: center;  
}

.admin_product{
    border:1px black solid;
    flex-grow: 1;
    display: flex;
    color:black;
    flex-direction: column;
    flex-basis: auto;
    background-color: white;
    align-items: center;  
}

.image_container {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:2vw;
    margin-bottom: 2vw;
    border-bottom: 1px black solid;
}

/* .image-containerPY {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px black solid;
}  */


.button-container {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px black solid;
}

.button-containerPY {
    background-color: rgb(85, 6, 112);
    margin-top:2vw;
    width: 100%;
    height:9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px black solid;
}

.admin_image {
    margin: 0 auto;
    height: 200px; 
    width: 200px;
    /* border-bottom: 1px black solid; */
    margin-top: 1.5vw;
}

.buttonPYT{
    background-color: white;
    font-weight:bold;
    color:rgb(85, 6, 112);
    /* border-left: 4px, solid, rgb(85, 6, 112); */
    border-left: 4px, solid, rgb(85, 6, 112);
    width: 80%;
    height:2vw;
    margin-top:2vw;
}

button.buttonPYB{
    background-color: white;
    font-weight:bold;
    color:rgb(85, 6, 112);
    width: 80%;
    height:2vw;
    margin-bottom:2vw;
}

.buttonGYT{
    background-color: yellow;
    font-weight:bold;
    color:rgb(6, 94, 6);
    width: 80%;
    margin-top:1.5vw;
    margin-bottom:.5vw;
}

.buttonGYB{
    background-color: rgb(6, 94, 6);
    color:yellow;
    width: 80%;
    margin-top:.5vw;
    margin-bottom:2vw;
}

.buttonBG{
    background-color: lightgray;
    color:black;
    width: 100%;
    
}


.buttonBGT{
    background-color: rgb(242, 236, 236);
    font-weight:bold;
    color:black;
    width: 80%;
    margin-top:1.5vw;
    margin-bottom:.5vw;
}

.buttonBGB{
    background-color: black;
    color:white;
    width: 80%;
    margin-top:.5vw;
    margin-bottom:2vw;
}

.formContainer {
    display:flex;
    flex-direction: row;
    align-items: center;
    width:100%;
}

.editProductForm {
    height: 80%;
    width:80%;
    background-color: lightgray;
}