.cart_page{
    display: flex;
    flex-direction: column;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    max-height: 400px;
    overflow: auto;
    
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    border-radius: 10px;

    
}
.cart_image{
    height:100px;
}
.cart_item:last-child {
    border-bottom: lightgray solid 1px;
}
.cart_item{
    display: flex;
    justify-content:  space-around;
    border-top: lightgray solid 1px;
}
span {
    text-align: center;
    height: min-content;
    margin: auto 0;
}
h4 {
    text-align: center;
}
.submit_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    margin: auto 0;
    height: 2em;
}
h3, h1 {
    text-align: center;
    margin: 30px 0 30px 0;
}
.order_information {
    margin: 50px 0 30px 0;
}
.order_btn {
    margin: 10px 0 50px 0;
}

/* /////////////////////////////////////////// */

.login_page {
    padding: 30px 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}
.register, .login{
    /* border: 1px red solid; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 400px;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    min-height: 200px;
    border: lightgray solid 1px;
    border-radius: 10px;
}
.register > *, .login > *{
    margin: 0 auto;
    
    
}
/* .register {
    margin-bottom: 20px;
}
.login {
    margin-top: 50px;
    margin-bottom: 20px;
} */
.register input, .login input {
    margin: 5px auto;
}
.register button, .login button {
    margin: 20px auto;
    margin-bottom: 30px;
}
.register h3, .login h3 {
    margin: 30px auto;
}

@media screen and (min-width: 1000px) {
    .login_page {
        flex-direction: row;
        align-items: none;
    }
    .login {
        margin: 0;
    }
  }
  @media screen and (max-width: 1000px) {
    .login_page {
        align-items: center;
    }
    
  }
  .login {
      height: 260px;
      margin-bottom: 30px;
  }