.header_container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(199, 218, 199);
    height:200px;
}

.title_container{
    background-color: blue;
    flex-grow: 4;
    justify-content: flex-end;
    display: flex;
    justify-content: center;
    background-image: url("https://fanatics.frgimages.com/buffalo-bills/mens-nike-josh-allen-royal-buffalo-bills-game-player-jersey_pi3139000_altimages_ff_3139211alt1_full.jpg?_hv=2&w=900") ;

}

.link_bar{
flex-grow: 2;
display: flex;
align-items: center;
justify-content: space-evenly;

}